<h1>チャット</h1>

<ul>
<% @posts.each do |post| %>
	<li>
	(<%=h post.created_at.localtime.strftime("%y/%m/%d %H:%M:%S") %>)
	[<%=h post.nick %>]
	<%=h post.content %>
	(<%=h distance_of_time_in_words_to_now(post.created_at) %> ago)
	<%= link_to "コメント(%d)" % post.comments.count, post %>
	</li>
<% end %>
</ul>

<%= link_to 'New post', new_post_path %>

<% form_for(@post) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nick %><br />
    <%= f.text_field :nick %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
